{% extends 'base.html' %}
{% block title %}Clinic Settings{% endblock %}
{% block content %}
<div class="card">
  <h3>Clinic Profile</h3>
  <form method="post" class="row-gap">
    {{ form.hidden_tag() }}
    <div class="grid-2">
      <div>{{ form.name.label(class='form-label') }}{{ form.name(class='form-control') }}</div>
      <div>{{ form.logo_url.label(class='form-label') }}{{ form.logo_url(class='form-control') }}</div>
      <div>{{ form.default_currency.label(class='form-label') }}{{ form.default_currency(class='form-control') }}</div>
      <div>{{ form.timezone.label(class='form-label') }}{{ form.timezone(class='form-control') }}</div>
      <div>{{ form.default_language.label(class='form-label') }}{{ form.default_language(class='form-control') }}</div>
    </div>
    <div>{{ form.submit(class='btn btn-primary') }}</div>
  </form>
</div>
{% endblock %}
